<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Editar Jugador</li>
    </ol>
</nav>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']">Inicio</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Editar Jugador</li>
    </ol>
</nav>
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Img</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Categoria</th>
            <th scope="col">Pagado</th>
            <th scope="col">Editar</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row"><img src="../../../assets/images/rodriguez_juan_ramon_foto-carnet.jpg" style="width: 30px;height:30px ;" alt=""></th>
            <td>Juan</td>
            <td>Perez</td>
            <td>Principiante</td>
            <td>si</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </td>

        </tr>
        <tr>
            <th scope="row"><img src="../../../assets/images/descarga.jpg" style="width: 30px;height:30px ;"></th>
            <td>Alberto</td>
            <td>López</td>
            <td>Medio</td>
            <td>si</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </td>

        </tr>
        <tr>
            <th scope="row"><img src="../../../assets/images/images.jpg" style="width: 30px;height:30px ;"></th>
            <td>Juan</td>
            <td>Perez</td>
            <td>Principiante</td>
            <td>si</td>
            <td>
                <button class="btn btn-primary">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>