@import url('https://fonts.googleapis.com/css?family=Anton');
.titulo{
    border: 1px solid greenyellow
}
.botones{
    text-align: center
}
.letra{
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    text-align: center;
}
.tarjeta{
    border-radius: 50px;
    margin-bottom: 10px;
}
.barra{
    
}