<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']">Inicio</a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">Reservar</li>
    </ol>
</nav>
<div style="display: flex;">
    <div style="display: flex; flex-direction: row; justify-content: space-around; width: 75%;flex-wrap: wrap; overflow: auto;">
        <div style="border: solid 3px green;height: 550px;" class="tarjeta">
            <div class="letra">
                <p>My Guide Marbella</p>
            </div>
            <div style="height:300px;width:180px ;background-image: url('../../../assets/images/Sin título.png');margin: 20px;border: 1px solid red;background-size: contain;background-repeat: no-repeat">
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Horarios</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1">9:30-10:00</option>
                    <option value="2">10:00-10:30</option>
                    <option value="3">10:30-11:00</option>

                </select>
            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Fecha</label>
                </div>
                <input type="date" name="fecha">
            </div>
            <div class="botones">
                <button class="btn btn-success">reservar</button>
            </div>
        </div>
        <div style="border: solid 3px green;height: 550px;" class="tarjeta">
            <div class="letra">
                <p>La habana</p>
            </div>
            <div style="height:300px;width:180px ;background-image: url('../../../assets/images/Sin título.png');margin: 20px;border: 1px solid red;background-size: contain;background-repeat: no-repeat">
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Horarios</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1">9:30-10:00</option>
                    <option value="2">10:00-10:30</option>
                    <option value="3">10:30-11:00</option>

                </select>
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Fecha</label>
                    </div>
                    <input type="date" name="fecha">
                </div>
            <div class="botones">
                <button class="btn btn-success">reservar</button>
            </div>
        </div>
        <div style="border: solid 3px green;height: 550px;" class="tarjeta">
            <div class="letra">
                <p>Royal Grass</p>
            </div>
            <div style="height:300px;width:180px ;background-image: url('../../../assets/images/Sin título.png');margin: 20px;border: 1px solid red;background-size: contain;background-repeat: no-repeat">
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Horarios</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1">9:30-10:00</option>
                    <option value="2">10:00-10:30</option>
                    <option value="3">10:30-11:00</option>

                </select>
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Fecha</label>
                    </div>
                    <input type="date" name="fecha">
                </div>
            <div class="botones">
                <button class="btn btn-success">reservar</button>
            </div>
        </div>
        <div style="border: solid 3px green;height: 550px;" class="tarjeta">
            <div class="letra">
                <p>Da Bruno</p>
            </div>
            <div style="height:300px;width:180px ;background-image: url('../../../assets/images/Sin título.png');margin: 20px;border: 1px solid red;background-size: contain;background-repeat: no-repeat">
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Horarios</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1">9:30-10:00</option>
                    <option value="2">10:00-10:30</option>
                    <option value="3">10:30-11:00</option>

                </select>
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Fecha</label>
                    </div>
                    <input type="date" name="fecha">
                </div>
            <div class="botones">
                <button class="btn btn-success">reservar</button>
            </div>
        </div>
        <div style="border: solid 3px green;height: 550px;" class="tarjeta">
            <div class="letra">
                <p>Fanautic Club</p>
            </div>
            <div style="height:300px;width:180px ;background-image: url('../../../assets/images/Sin título.png');margin: 20px;border: 1px solid red;background-size: contain;background-repeat: no-repeat">
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Horarios</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1">9:30-10:00</option>
                    <option value="2">10:00-10:30</option>
                    <option value="3">10:30-11:00</option>

                </select>
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Fecha</label>
                    </div>
                    <input type="date" name="fecha">
                </div>
            <div class="botones">
                <button class="btn btn-success">reservar</button>
            </div>
        </div>
        <div style="border: solid 3px green;height: 550px;" class="tarjeta">
            <div class="letra">
                <p>X-Magazine</p>
            </div>
            <div style="height:300px;width:180px ;background-image: url('../../../assets/images/Sin título.png');margin: 20px;border: 1px solid red;background-size: contain;background-repeat: no-repeat">
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Horarios</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1">9:30-10:00</option>
                    <option value="2">10:00-10:30</option>
                    <option value="3">10:30-11:00</option>

                </select>
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Fecha</label>
                    </div>
                    <input type="date" name="fecha">
                </div>
            <div class="botones">
                <button class="btn btn-success">reservar</button>
            </div>
        </div>
        <div style="border: solid 3px green;height: 550px;" class="tarjeta">
            <div class="letra">
                <p>X-Magazine</p>
            </div>
            <div style="height:300px;width:180px ;background-image: url('../../../assets/images/Sin título.png');margin: 20px;border: 1px solid red;background-size: contain;background-repeat: no-repeat">
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Horarios</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1">9:30-10:00</option>
                    <option value="2">10:00-10:30</option>
                    <option value="3">10:30-11:00</option>

                </select>
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Fecha</label>
                    </div>
                    <input type="date" name="fecha">
                </div>
            <div class="botones">
                <button class="btn btn-success">reservar</button>
            </div>
        </div>
        <div style="border: solid 3px green;height: 550px;" class="tarjeta">
            <div class="letra">
                <p>X-Magazine</p>
            </div>
            <div style="height:300px;width:180px ;background-image: url('../../../assets/images/Sin título.png');margin: 20px;border: 1px solid red;background-size: contain;background-repeat: no-repeat">
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Horarios</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1">9:30-10:00</option>
                    <option value="2">10:00-10:30</option>
                    <option value="3">10:30-11:00</option>

                </select>
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Fecha</label>
                    </div>
                    <input type="date" name="fecha">
                </div>
            <div class="botones">
                <button class="btn btn-success">reservar</button>
            </div>
        </div>
        <div style="border: solid 3px green;height: 550px;" class="tarjeta">
            <div class="letra">
                <p>X-Magazine</p>
            </div>
            <div style="height:300px;width:180px ;background-image: url('../../../assets/images/Sin título.png');margin: 20px;border: 1px solid red;background-size: contain;background-repeat: no-repeat">
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Horarios</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1">9:30-10:00</option>
                    <option value="2">10:00-10:30</option>
                    <option value="3">10:30-11:00</option>

                </select>
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Fecha</label>
                    </div>
                    <input type="date" name="fecha">
                </div>
            <div class="botones">
                <button class="btn btn-success">reservar</button>
            </div>
        </div>
        <div style="border: solid 3px green;height: 550px;" class="tarjeta">
            <div class="letra">
                <p>X-Magazine</p>
            </div>
            <div style="height:300px;width:180px ;background-image: url('../../../assets/images/Sin título.png');margin: 20px;border: 1px solid red;background-size: contain;background-repeat: no-repeat">
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>
                <div style="border: solid 1px black; width: 50%;height: 50%;display: inline-block;">

                </div>

            </div>
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">Horarios</label>
                </div>
                <select class="custom-select" id="inputGroupSelect01">
                    <option value="1">9:30-10:00</option>
                    <option value="2">10:00-10:30</option>
                    <option value="3">10:30-11:00</option>

                </select>
            </div>
            <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="inputGroupSelect01">Fecha</label>
                    </div>
                    <input type="date" name="fecha">
                </div>
            <div class="botones">
                <button class="btn btn-success">reservar</button>
            </div>
        </div>
    </div>

    <div style="width: 25%;height: 90vh;background-color:#222;color: white;">
        <div style="display: flex;flex-direction: column; align-items: flex-end">
            <div style="height: 10%; height: 100%;text-align: center">
                <h4 style="text-align: center">Listado de jugadores</h4>
                <input type="text">
                <a class="btn btn-suscces">
                    <i class="fas fa-search"></i>
                </a>

            </div>
            <div class="barra"style="overflow: auto; border: solid  1px black;background-color:#222;color: white; width:100%;height: 60vh;">
                <ul style="list-style: none;margin-top: 20px;">
                    <li>
                        <img src="../../../assets/images/campaign1pe.jpg" style="width:25px;height: 30px;" alt=""> Gloria Sánchez
                    </li>
                    <li>
                        <img src="../../../assets/images/foto-carnet (1).jpg" style="width:25px;height: 30px;" alt=""> Alberto Sánchez
                    </li>
                    <li>
                        <img src="../../../assets/images/descarga.jpg" style="width:25px;height: 30px;" alt=""> Ronaldo Vivas
                    </li>
                    <li>
                        <img src="../../../assets/images/rodriguez_juan_ramon_foto-carnet.jpg" style="width:25px;height: 30px;" alt=""> Luis Pérez
                    </li>
                    <li>
                        <img src="../../../assets/images/526.jpg" style="width:25px;height: 30px;" alt=""> Sergio López
                    </li>
                    <li>
                        <img src="../../../assets/images/520191091.jpg" style="width:25px;height: 30px;" alt=""> Juan Carlos Hernández
                    </li>
                    <li>
                        <img src="../../../assets/images/fotos-5x5-cm-visa-estados-unidos-eeuu-y-otros-6-fotos-carnet-D_NQ_NP_23142-MLA20241872874_022015-F.jpg"
                            style="width:25px;height: 30px;" alt=""> Amanda García
                    </li>
                    <li>
                        <img src="../../../assets/images/images.jpg" style="width:25px;height: 30px;" alt=""> Juan Ramon Pardo
                    </li>

                </ul>
            </div>

        </div>
    </div>
</div>